@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Inter", sans-serif;
letter-spacing: 0.125 rem;
}

.general-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.hero-bg-video {
    width: 100%;
    height: 100vh;
    padding: 0rem;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-video {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.Header-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    column-gap: 1.62rem;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.centernav-links {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.nav-links {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    column-gap: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
}

.nav-links p {
    color: white;
    font-size: 0.96094rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 156.098% */
    letter-spacing: 0.01563rem;
}

.rightnav-icons {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.nav-links:hover {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
}

.search {
    padding: 0.75rem;
    width: fit-content;
    height: auto;
}

.search:hover{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
}

.gemini {
    padding: 0.75rem;
    width: fit-content;
    height: auto;
}

.gemini:hover {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
}

.content {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 9.8125rem;
    row-gap: 1.25rem;
}

.headertext h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 6.88356rem;
    font-style: normal;
    font-weight: 500;
    line-height: 8.4rem; /* 122.029% */
    letter-spacing: -0.03125rem;
}

.body-text p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.67481rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 134.344% */
}

.button button {
    display: inline-flex;
    min-width: 6rem;
    min-height: 3.125rem;
    padding: 0.8125rem 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    background: white;
    border: none;
    color: #1A73E8;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 152.381% */
    letter-spacing: 0.03125rem;
    cursor: pointer;
}

.bottom-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.75rem;
    width: fit-content;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 62.4375rem;
    background: #202124;
}

.news-section {
    width: 100%;
    height: auto;
    padding: 7.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 3.75rem;
}

.body-website {
    width: 100%;
    height: auto;
}

.top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.left {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
}

.left h2 {
    color: #202124;
    font-family: Inter;
    font-size: 2.09181rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem; /* 131.466% */
    letter-spacing: -0.01563rem;
}

.left p {
    color: #5F6368;
    font-family: Arial;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    }

    .right {
        color: #1A73E8;
        text-align: center;
        font-family: Inter;
        font-size: 0.95313rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 157.377% */
        letter-spacing: 0.03125rem;
    }

    .bottom-cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .news-card {
        width: 32%;
        height: auto;
        border-radius: 0.5rem;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        border: 1px solid rgba(32, 33, 36, 0.15);

    }

    .news-card img {
        width: 25rem;
        height: auto;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }

    .card-text {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 1.5rem;
        row-gap: 0.5rem;
    }

    .title-body {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 1rem;
    }

    .title-body p {
        color: #5F6368;
        font-size: 0.666rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.00625rem;
    }

    .title-body desc {
        color: #5F6368;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.00625rem;
    }

    .title-body h3 {
        color: #202124;
        font-size: 1.19144rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem; /* 146.885% */
    }

    .date-link {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .date-link p {
        color: #5F6368;
        font-family: Arial;
        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem; /* 145.455% */
        letter-spacing: 0.03125rem;
        text-transform: uppercase;
    }
    
    .podcast-section {
        width: 90%;
        height: 40.625rem;
        margin: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f8f8f8;
        border-radius: 0.5rem;
    }

    .bg-container {
        width: 100%;
        height: auto;
        background-image: url("/Assets/images/ekuBCn5ZssK58Wpq7IJJ_KHrBd5X8LJnHPDsMhmbTsbS7C__gTx-wZX2xzJQEw6NSKCukYjdvczfzYwq_Gm3hn_GHEN4WJxvR_LoDCxv4HVGX0PiQg=w1296-rw.png");
    }

    